.page {
  background-color: blanchedalmond;
}
.mainhead {
  text-align: center;
  background-color: brown;
  color: blanchedalmond;
  margin: 0px 150px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.list {
  margin-left: 150px;
}

.burger,
.pasta,
.pizza {
  color: brown;
}
